/* You can add global styles to this file, and also import other style files */
@import  url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    background: rgb(117, 119, 121);
    font-family: 'Open Sans', sans-serif;
}

.dark {
    position: relative;
    width: 50%;
    margin-left: 25%;
}